<a href="https://colab.research.google.com/github/katrienvanmeulder/STEM6/blob/master/20210429_Oefenboek_op_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Oefenboek op het gebruik van Pandas

Deze oefenboekjes bevatten oefeningen om te leren (leeroefeningen). We gaan er dus vanuit dat je op dit punt nog niet veel kennis hebt over de deze topic. Ze zijn bedoeld om de leerstof nog te leren begrijpen en **niet** om te testen of je de leerstof al onder de knie hebt. Daarvoor hebben we een ander soort oefeningen.

## Oefeningen op Pandas DataFrames

Maak eerst de oefenboekjes op Python, Numpy arrays en Pandas Series alvorens je hier aan begint.Importeer nu eerst de juiste libraries zodat je aan de slag kan.


```python
import numpy as np
import pandas as pd
```

In [ ]:
# hier komt jouw code

### Oefening 1 - Werking van eenvoudige DataFrames

Een Pandas dataframe kan je aanmaken met de <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">`DataFrame`-constructor</a>.

```python
import pandas as pd # Pandas importeren

df = pd.DataFrame(....) 
```

Maak een Dataframe-object aan met de naam *data* met daarin deze Python `list` van waarden `[0.25, 0.5, 0.75, 1.0]`.

In [ ]:
# hier komt jouw code

Een dataframe is een 2D-tabel (ook als maar één kolom in de tabel zit). Je kan de dimensie opvragen met de eigenschap `.shape`. 

Een shape is een Python <a href="https://realpython.com/python-lists-tuples/#python-tuples">tuple</a>. Je tuples nog heel vaak tegenkomen.

Wat is de shape van het `DataFrame`?

In [ ]:
# hier komt jouw code

Een bepaalde kolom van een dataframe heeft altijd één bepaald datatype. Elke kolom is een Pandas `Series` of `Categorical`. 

De datatypes van een dataframe kan je opvragen met de `.dtypes`-eigenschap.

Wat zijn de datatypes van dit dataframe? Wat is het verschil met een Pandas `Series`?

In [ ]:
# hier komt jouw code

Pandas is gebouwd op Numpy-arrays en standaard Python. Achter de schermen gebruikt Pandas dus eigenlijk Numpy-arrays. Je kan deze altijd opvragen m.b.v. van volgende methode.

```python
df.to_numpy()
```

Converteer het dataframe naar een Numpy array. Welke methode gebruik je hiervoor? 

Hoe verschilt de omzetting naar een Numpy array van een DataFrame met de omzetting naar Numpy array van een Series? 

*Tip: bekijk het aantal dimensies met het command _shape_ en vergelijk deze met die van een Series, bv. van `pd.Series([0.25, 0.5, 0.75, 1.0])`*

In [ ]:
# hier komt jouw code

Bekijk de index van het DataFrame door de `.index`-eigenschap te bekijken.

In [ ]:
# hier komt jouw code

Bekijk de kolommen van het DataFrame door de `.columns`-eigenschap te bekijken. Is er wezenlijk verschil met de index van het dataframe?

In [ ]:
# hier komt jouw code

Het <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">loc</a>-commando werkt met verschillende soorten argumenten en geeft soms ook andere resultaten terug. 

Je kan één kolom of meerdere kolommen selecteren. Je kan ook hele rijen selecteren. Je kan het ook combineren waarbij je specifieke rijen uit specifieke kolommen selecteert. Je mag daarbij gebruikmaken van Python <a href="https://realpython.com/lessons/indexing-and-slicing/">`slices`</a>

Hieronder zie je enkele tips van hoe je commando kan gebruiken. Het kost enige moeite om het goed te begrijpen dus je hoeft niet te panikeren als je het niet meteen begrijpt. Indexen of slices voor de komma slaan op rijen, erna op kolommen. Heb je geen komma? Dan gaat het over kolommen.

```python
df.loc[...]
df.loc[...,...]
df.loc[[]]
df.loc[[],[]] 
``` 

Het `loc`-commando werkt op **expliciete indexen** in de dataframes (en series). Expliciete indexen zijn diegene die wij zelf definiëren en die je vindt m.b.v. `.index` en `.columns`

Haal het tweede element en het tweede t.e.m. het derde element op m.b.v. het `loc`-commando. Dit kan op heel wat verschillende manieren gerealiseerd worden.

In [ ]:
# hier komt jouw code

Het <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html">iloc</a>-commando is qua indexering zeer gelijkaardig aan het `loc`-commando, maar het werkt op **impliciete indexen**. Dit zijn een soort absolute indexen die elk dataframe heeft en die losstaan van de **expliciete indexen** die door de data scientist gedefiniëerd zijn in `Index`-objecten en dit zijn gestockeerd in `.index` en `.columns`.

Haal het tweede element en het tweede t.e.m. het derde element op m.b.v. het `iloc`-commando. Is er *in dit geval* een verschil met het `loc`-commando qua indexwaarden? 

Waarom (niet)?

In [ ]:
# hier komt jouw code

### Oefening 2 - Werking van DataFrames

Maak een `Dataframe` object aan met drie rijen waavan de waarden gelijk zijn aan:

* rij 1: `['eerste', 1, 0.83, 1.3]`,
* rij 2: `['tweede', 4, 0.75, 1.0]`,
* rij 3: `['derde', 2, 4.75, 0.2]`

Gebruik hiervoor een 2D Numpy array.

Zorg ervoor dat de kolommen gelijk zijn aan `['a', 'b', 'c', 'd']`. 

Maak de index gelijk aan de getallen `[1,2]`.

In [ ]:
# hier komt jouw code


Wat is de shape van dit `DataFrame`?

In [ ]:
# hier komt jouw code

Wat zijn de datatypes van dit dataframe? Hoeveel datatypes zijn er?

In [ ]:
# hier komt jouw code

Wat is de output van de method `.info()` en `.describe()`?

In [ ]:
# hier komt jouw code

Is er een rij-`Index` gemaakt? Zo ja, welke?

In [ ]:
# hier komt jouw code

* Haal de elementen van kolom `'b'` op. Doe dit m.b.v.drie notaties:
    * met de `.`-operator
    * met de `[]`-operator
    * met twee `[]`-operatoren: `[[]]`

Bekijk telkens het type object dat je terugkrijgt met de Python type-functie.

In [ ]:
# hier komt jouw code

Haal nu de elementen van kolommen `'b'` en `'c'` op. Doe dit met:
    * de `[]` ⁻ operator
    * de `loc` - operator
    * de `iloc` - operator

In [ ]:
# hier komt jouw code

Haal nu enkel de 2e rij van elementen van kolommen `'b'` en 'c' op. Doe dit met:
    * de `[]` ⁻ operator
    * de `loc` - operator
    * de `iloc` - operator

In [ ]:
# hier komt jouw code

Is er een Index gemaakt? Zo ja, welke?

In [ ]:
# hier komt jouw code

Het datatype van de index is 'object'. Waarom is dit geen string? Zoek dit op.

In [ ]:
# hier komt jouw code

### Oefening 3 - Simpele selecties uitvoeren

Maak een Pandas DataFrame genaamd **cars** m.b.v. deze internet url.

https://raw.githubusercontent.com/OCulzac/pandas-foundations/master/_datasets/auto-mpg.csv

Bestudeer dit dataframe met de methoden `.info()` en `.describe()`.

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code

Selecteer nu alle auto's die een **mpg** waarde groter dan 40 hebben. Dit kan je doen door dit commando toe te passen:

```python
df[df.kolom > waarde]
```

Hoeveel auto's vind je?

In [ ]:
# hier komt jouw code

Als je meerdere eigenschappen wil gebruiken om op te filteren, moet je ze combineren met logische operatoren (&, |) en de condities tussen haakjes zetten. 

Je kan de condities ook in aparte variabelen stoppen en die gebruiken om te filteren.

```python
df[(df.kolom1 > waarde1) & (df.kolom2 < waarde2)]

cond1 = df.kolom1 > waarde1
cond2 = df.kolom2 < waarde2

df[cond1 & cond2]
```
Selecteer nu alle auto's die een **mpg** waarde groter hebben dan 40 en die uit **Europa** komen.

In [ ]:
# hier komt jouw code

Je kan de waarden in dataframe ook sorteren. Daarvoor gebruik je de <code>sort_values</code> functie.

```python
df.sort_values('kolom')
df.sort_values('kolom', ascending = False)

df.sort_values(['kolom1','kolom2'], ascending = [False, True])
```

Sorteer de auto's op **hp** van groot naar klein en tegerlijktijd op **accel** van klein naar groot. Auto nummer 115 zou bovenaan moeten komen te staan.

In [ ]:
# hier komt jouw code

Selecteer nu alle auto die in Europe en de US zijn gemaakt. Hiervoor ga je gebruikmaken van een nieuwe methode: `.isin()`.



```python
df.kolomnaam.isin(lijst van waarden)
```
Probeer dit uit op `origin` kolom en met de waarden `['Europe','US']` en sla dit resultaat op in een variabele `europe_us_cars`.

Tip: *je kan deze uitdrukking ook negeren door er een tilde (~) voor te plaatsen.*

Welk resultaat krijg je en wat is het type van dit resultaat? (`type()`)

In [ ]:
# hier komt jouw code

Gebruik de `europe_us_cars`-variabele in combinatie met het originele dataframe `cars` om alleen de auto's te selecteren die uit Europe of de US komen. Je kan dit doen met de haakjes `[]` of met de `.loc`-methode (, en zelfs de `.iloc`-methode, maar dat is hier minder gepast).

In [ ]:
# hier komt jouw code

Combineer nu de vorige oefening door enkel de cyl en de weight te selecteren van de Europe en US auto's. Hiervoor kan je enkel gebruikmaken van de `.loc`-operator.

In [ ]:
# hier komt jouw code

We gaan nu het gemiddelde gewicht van Amerikaanse auto's (US) vergelijken het gemiddelde gewicht van Aziatische auto's. We moeten eerst weten welke waarde de kolom `origin` allemaal kan aannemen.

We selecteren die kolom en passen de `.unique()`-methode toe. Probeer dit hieronder uit. Welke waarde heeft `origin` voor Aziatische auto's?

In [ ]:
# hier komt jouw code

Op een Pandas Series kan je een aantal statistiche methoden uitvoeren (zie ook verder). Het gemiddelde van een bepaalde selectie kun je laten berekenen met de `.mean()`-methode.

Zoek het gemiddelde gewicht van Aziatische auto's en dat van Amerikaanse auto's. Ben je verrast over het resultaat?

In les 3 zullen we nieuwe commando's leren waarmee we dit resultaat zullen kunnen bekomen.

In [ ]:
# hier komt jouw code

### Oefening 4 - Dataframe aanpassen

Maak een Pandas DataFrame genaamd **titanic** m.b.v. deze internet url.

https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv

Bestudeer dit dataframe met `.info()`, `.describe()`, `.head()`, en `.tail()`. Aan de laatste methoden kan je ook een parameter meegeven om de hoeveelheid te tonen rijen te bepalen.

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code

Met welk commando kan je alleen kolom `Embarked` bekijken? 

Combineer dit met de `.head()`-methode. Je zou een Pandas `Series` moeten krijgen die  S, C en Q's bevat.

In [ ]:
# hier komt jouw code

Kolom `Embarked` staat voor *Port of Embarkation* met (C = Cherbourg; Q = Queenstown; S = Southampton).

Schrijf eerst een commando om alleen de rijen over te houden waarin het vertrek C(herbourg) is. Herhaal dit voor de andere 2 havens. Met de `.loc`-methoden kan je makkelijk realiseren (het gaat ook met de vierkante haakjes).

In [ ]:
# hier komt jouw code

Schrijf nu een Python `for`-loop waarmee je over een lijst van waarde `['C','Q','S']` itereert zodat je binnen de `for`-loop telkens die rijen van het dataframe selecteert die overeenstemmen met de `Embarked`-waarde uit de lijst. Voor elk van de havens print je het aantal rijen uit door op de selectie (een subdataframe dus) de `.size`-eigenschap op te roepen.

Dus zoiets ongeveer:
```python
for haven in ['C','Q','S']:
  # selecteer alle rijen die gelijk zijn de waarde 'haven'.
  # print het aantal rijen uit met de .size - eigenschap in een duidelijke boodschap
```

Nota: een eigenschap is geen methode en daarom hoef je ook geen ronde haakjes te plaatsen achter `.size`.  Je zou dit resultaat moeten bekomen.

```
Vanuit C vertrokken 2016 personen
Vanuit Q vertrokken 924 personen
Vanuit S vertrokken 7728 personen
```

In [ ]:
# hier komt jouw code

Een waarde in een dataframe vervangen kan m.b.v. het toekenningsstatement (`=`).

```
df.kolom_naam = nieuwe_waarde
```

Je kan dit ook combineren met een selectie op bepaalde rijen zoals je hierboven reeds toepaste.

We willen de afkortingen van de havens vervangen door de volledige namen van havens van vertrek. Zoals steeds kan dit op verschillende manieren en in dit oefenboek bekijken we dan enkele mogelijke oplossingen. 

Gebruik de `.loc`-eigenschap om eerst alleen de kolom `Embarked` te selecteren met de waarde gelijk aan 'C'. Je moet hiervoor een komma gebruiken binnen de haakjes van `.loc` (`.loc[ , ]`). Probeer vervolgens de nieuwe waarde 'Cherbourg' toe te kennen aan de geselecteerde gegevens.

*Let op: als je fout maakt, moet je het originele dataframe herladen met de eerste stap. Veiliger is om eerst een kopie te maken en daarop te proberen. Je kan een kopie `titanic2` maken met de `.copy()`-methode of met een toekenning aan een nieuwe variabele*

*Let nog meer op: als je het fout aanpakt ga je een SettingWithCopyWarning krijgen. Die waarschuwing kan je best al proberen te begrijpen door dit lezen: https://www.dataquest.io/blog/settingwithcopywarning/*

In [ ]:
# hier komt jouw code

Als je zeker bent dat je commando's gewerkt hebben op de kopie van onze titanic dataset kunnen we nu alle wijzigingen in één keer doorvoeren m.b.v. een for-loop.

```python
for afkorting, haven in [('C', 'Cherbourg'), ('Q', 'Queenstown'), ('S','Southampton')]:
  # selecteer de juiste rijen en vervang daarin de afkorting door de volledige naam
```

Met bovenstaande code doorloop je een lijst van tuples. Per iteratie haal je twee gegevens op: de afkorting en de naam van de haven.

In [ ]:
# hier komt jouw code

In [ ]:
# hier komt jouw code